<div class="container mt-2">
  <div class="row">

    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Question : About</mat-card-title>
        <mat-card-title>Answer : {{formdata.about}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>


        <div class="col-12 mt-2" *ngFor="let data of formanslist; let index = index">
          <div>Question : {{data.question}}</div>

          <ng-container
            [ngTemplateOutlet]="formdata.question[index].questionType == 'Checkbox V' ? checkbox : peragraph"
            [ngTemplateOutletContext]="{index:index}">
          </ng-container>

          <!-- {{data | json}} -->


          <ng-template #checkbox let-index='index'>
            <mat-card class="shipping-card">
            Answer :
            <div class="col-12 mt-2" *ngFor="let data of formanslist[index].optionsname; let i = index">
              {{data}} : {{formanslist[index].optionsans[i]}}
            </div>
          </mat-card>
          </ng-template>

          <ng-template #peragraph let-index='index'>
            <div class="col-12 mt-2">
              <mat-card class="shipping-card">
                Answer: {{formanslist[index].optionsans}}
              </mat-card>
            </div>
          </ng-template>


        </div>
        <div class="mt-2 d-flex justify-content-between">
          <button mat-raised-button color="primary" [routerLink]="['/question-form']">Back</button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
