<div class="container mt-2">
  <div class="row">
    <form class="example-full" [formGroup]="AnswerForm" (ngSubmit)="Answerform(AnswerForm.value)">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Please tell us about yourself</mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <div class="col-12 mt-2">
            <mat-form-field class="example-full-width">
              <textarea matInput formControlName="about" [errorStateMatcher]="matcher"></textarea>
            </mat-form-field>
            <ng-container *ngIf=" f['about'].errors &&  (submitted || f['about']?.touched)">
              <mat-error *ngIf="f['about'].errors['required']">
                field is <strong>required</strong>
              </mat-error>
            </ng-container>
          </div>
      </mat-card-content>


    </mat-card>



    <mat-card class="shipping-card">
      <mat-card-content>
          <div *ngFor="let question of questions().controls; let qindex = index">
            <ng-container [ngTemplateOutlet]="formdata[qindex].questionType == 'Checkbox V' ?checkbox : peragraph"
              [ngTemplateOutletContext]="{qindex:qindex}">
            </ng-container>
          </div>

          <ng-template #checkbox let-qindex='qindex'>
            <div class="col-12 mt-2">
              <div formArrayName="question">
                <div [formGroupName]="qindex">
                  <div formArrayName="options">
                    {{formdata[qindex].question}}
                    <div *ngFor="let option of formdata[qindex].options; let optionindex=index">
                      <div [formGroupName]="0">
                        <mat-checkbox class="example-margin" [formControlName]="option.options">
                          {{option.options}}
                        </mat-checkbox>
                      </div>
                    </div>
                    <div *ngIf="formdata[qindex].ownanswer" [formGroupName]="0">
                      <mat-form-field class="example-full-width w-100 ">
                        <input type="text" matInput formControlName="customeAns" placeholder="Enter Your Own Answer">
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <mat-error *ngIf="showerrcheckbox(qindex)">
                  field is <strong>required</strong>
                </mat-error>
              </div>
            </div>
          </ng-template>

          <ng-template #peragraph let-qindex='qindex'>
            <div class="col-12 mt-2">
              <div formArrayName="question">
                <div [formGroupName]="qindex">
                  {{formdata[qindex].question}}
                  <mat-form-field class="example-full-width w-100 ">
                    <input type="text" matInput formControlName="options" placeholder="Enter Your Answer">
                  </mat-form-field>
                </div>
                <mat-error *ngIf="showerrParagraph(qindex)">
                  field is <strong>required</strong>
                </mat-error>
              </div>
            </div>
          </ng-template>

      </mat-card-content>
    </mat-card>

  <mat-card>
    <mat-card-content>
      <div class="col-12 mt-2">
        <mat-label>Extra-Question</mat-label>
        <div class="mt-2 d-flex justify-content-between">
          <button mat-raised-button color="primary" type="button" (click)="openDialog()">Add New Question</button>
          <button mat-raised-button color="primary" type="submit">Review My Answer</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>

  </div>
</div>
