<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === issideshow">
    <mat-toolbar class="d-flex justify-content-between">
      <div>
        Menu
      </div>
      <div>
          <mat-icon (click)="toggle()"> close</mat-icon>
      </div>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']">Profile Form</a>
      <a mat-list-item [routerLink]="['/question-form']">Question Form</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-icon (click)="toggle()" class="mx-2">toc</mat-icon>
      <span>angular-material</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>

</mat-sidenav-container>



