<div class="container mt-1">
  <div class="row">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Profile Form</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form" [formGroup]="profileForm" (ngSubmit)="profileform(profileForm.value)">
          <div class="col-12 mt-2">
            <mat-form-field class="example-full-width ">
              <mat-label>Name</mat-label>
              <input type="text" matInput formControlName="name" [errorStateMatcher]="matcher"
                placeholder="Enter Your Name">
              <mat-error *ngIf="f['name'].errors">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 mt-2">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
              <mat-error *ngIf="f['email'].hasError('email')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="f['email'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

          </div>

          <div class="col-12 mt-2">
            <label id="example-radio-group-label">please select your gender</label>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="gender" >
              <mat-radio-button class="example-radio-button" *ngFor="let gender of gender" [value]="gender" >
                {{gender}}
              </mat-radio-button>
              <mat-error *ngIf=" f['gender'].hasError('required') && submitted">
                gender is <strong>required</strong>
              </mat-error>
            </mat-radio-group>

          </div>

          <div class="col-12 mt-2">

            <mat-form-field appearance="fill">
              <mat-label>Select Your Hobby</mat-label>
              <mat-select formControlName="hobby">
                <mat-option *ngFor="let hobby of hobby" [value]="hobby">
                  {{hobby}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="f['hobby'].hasError('required')">You must make a selection</mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 mt-2">
            <mat-form-field class="example-full" appearance="fill">
              <mat-label>Choose your birth date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="dob">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker">
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-12 mt-2">
            <mat-form-field class="example-full-width">
              <mat-label>Enter your Phone Number</mat-label>
              <span matPrefix>+91 &nbsp;</span>
              <input type="tel" matInput placeholder="555-555-1234" formControlName="phoneno">
            </mat-form-field>
          </div>


          <div class="col-12 mt-2">
            <mat-form-field class="example-full-width">
              <mat-label>Enter Your Address</mat-label>
              <input matInput #message maxlength="256" placeholder="Ex. I need help with..." formControlName="address">
              <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
            </mat-form-field>
          </div>

          <div class="col-12 mt-2">
            <mat-checkbox class="example-margin" formControlName="policy">
              I agree to privacy policy & terms
            </mat-checkbox>
            <mat-error *ngIf=" f['policy'].hasError('required') && submitted">
              please aggree with our privacy policy & terms
            </mat-error>
          </div>


          <div class="col-12 mt-2">
            <button  mat-raised-button color="primary">Submit</button>
          </div>

        </form>
      </mat-card-content>

    </mat-card>
  </div>
</div>
