

<div class="container mt-2">
  <div class="row">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Add a new Question</mat-card-title>
      </mat-card-header>
      <form class="example-full" [formGroup]="addQuestionForm" (ngSubmit)="addQuestionform(addQuestionForm.value)">
      <mat-card-content>
        <div class="col-12 mt-2">
          <h4>Question Type</h4>
          <mat-form-field appearance="fill" class="w-100">
            <mat-label> choose Question Type</mat-label>
            <mat-select formControlName="questionType" (selectionChange)="buttionshow($event.value)">
              <mat-option *ngFor="let questionType of questionType" [value]="questionType">
                {{questionType}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="f['questionType'].hasError('required')">You must make a selection</mat-error>
          </mat-form-field>
        </div>


        <div class="col-12 mt-2">
          <h4>Question</h4>
          <mat-form-field class="example-full-width w-100 ">
            <mat-label>Type Question here</mat-label>
            <input type="text" matInput formControlName="question" [errorStateMatcher]="matcher"
              placeholder="Enter Your Name">
            <mat-error *ngIf="f['question'].errors">
              field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12 mt-2">
          <div formArrayName="options">
            <div *ngFor="let option of options().controls; let optionid=index">
              <div [formGroupName]="optionid">

                <mat-form-field class="example-full-width me-3">
                  <input type="text" matInput formControlName="options" [errorStateMatcher]="matcher"
                    placeholder="Add Answer an Option {{optionid+1}}">
                  <mat-error *ngIf="options().status == 'INVALID'">
                    field is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

                <button  mat-raised-button color="primary" (click)="RemoveOption(optionid)">remove Option</button>
              </div>
            </div>
            <button  mat-raised-button color="primary" type="button" (click)="AddOption()" *ngIf="isAddOptionShow">+ Add Options</button>
            </div>
        </div>

        <div class="col-12 mt-2">
          <mat-checkbox class="example-margin" formControlName="ownanswer">
            Allow User to specify their own answer
          </mat-checkbox>
        </div>


        <div class="col-12 mt-2">
          <mat-checkbox class="example-margin" formControlName="fieldrequird">
            this field is required
          </mat-checkbox>
        </div>
      </mat-card-content>

      <div mat-dialog-actions>
        <button  mat-raised-button color="primary" (click)="addQuestionform(addQuestionForm.value)" cdkFocusInitial>Submit</button>
        <button  mat-raised-button color="primary" (click)="onNoClick()" type="button">No Thanks</button>
      </div>




      </form>
    </mat-card>

  </div>
</div>
